@import "general";
@import "variables";
@import"inicio";
@import"productos";
@import"obras";
@import"nosotros";
@import"formulario";
@import "footer";

.navbar {
    font-size: 2.2rem;
}

.collapse ul {
    gap: 10px;
}



h1 {
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: $colorText;
    background-image: url(../imagenes/patronceleste.jpg);
    margin: 10px;

}

h2 {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin: 10px;
}

h3 {
    font-size: 4rem;
}

/* ---------- EXTEND ----------- */

.btn {
    @extend .btn;
    background-color: #014C6B;
    border-radius: 5px;
    font-weight: 400;
}


/* ------- MEDIAQ ------ */

@media (max-width:480px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    form {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

}

@media(max-width:1024px) {
    h1 {
        font-size: 3rem;
    }
}
